.completed-projects__mobile-slider {
	display: none;
}

.we-realize .mobile-title {
	display: none;
}

@media screen and (max-width: 1300px) {
	/* main styles */
	section {
		padding: 0 18px;
	}

	p {
		font-size: 11px;
	}

	h2.title {
		font-size: 22px;
		line-height: 30.49px;
	}
	/* /main styles */

	/* header */
	.header {
		padding: 0 18px;
		font-size: 11px;
	}

	.header ul li:not(.mobile-visible) {
		display: none;
	}

	.header .phone-link {
		color: #FFF;
	}
	/* /header */

	/* hero */
	.hero .title {
		font-size: 23px;
		line-height: 30.55px;
	}

	.hero p {
		font-size: 14px;
		line-height: 19.02px;
		margin-top: 16px;
	}

	.hero .button {
		width: 100%;
		font-size: 11px;
		margin: 0;
		margin-top: 26px;
	}
	/* /hero */

	/* completed-projects */
	.completed-projects .container {
		display: block;
		text-align: center;
	}
	.completed-projects .completed-projects__slider,
	.completed-projects .completed-projects__pagination {
		display: none;
	}

	.completed-projects .completed-projects__mobile-slider,
	.we-realize .we-realize__slider {
		display: block;
		position: relative;
		max-width: 768px;
		margin: 0 auto;
		margin-top: 36px;
		margin-bottom: 36.45px;
	}

	.completed-projects .completed-projects__mobile-slider .completed-projects__image {
		width: 100%;
	}

	.completed-projects .completed-projects__mobile-slider-controls,
	.we-realize .we-realize__mobile-slider-controls {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 14px;
		position: absolute;
		top: calc(50% - calc(36px / 2));
	}

	.completed-projects .completed-projects__mobile-slider-arrow,
	.we-realize .we-realize__mobile-slider-arrow {
		background: #E3B873;
		cursor: pointer;
		height: 36px;
		width: 36px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.completed-projects .completed-projects__repair-details-wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	.completed-projects .repair-details {
		text-align: left;
		gap: 31px;
		width: 100%;
		margin: 0 auto;
	}

	.completed-projects .repair-details h3 {
		margin-bottom: 13px;
		font-size: 14px;
	}
	/* /completed-projects */

	/* online-control */
	.online-control {
		background: #131313;
		color: #FFF;
	}
	
	.online-control__video-image,
	.online-control__video-image img {
		width: 100%;
	}

	.online-control .play-button {
		width: 37px;
		height: 37px;
	}

	.online-control .play-button::before {
		margin: calc(calc(37px - 12.19px) / 2) calc(calc(37px - calc(12.19px - 5px)) / 2);
		width: 12.19px;
		height: 12.19px;
		background-image: url(images/play-button-small.svg);
	}

	.online-control form label:not(.checkbox-label) {
		color: rgba(255, 255, 255, 0.5)
	}

	.online-control form .row {
		display: flex;
		flex-direction: column;
	}

	.online-control .input-wrapper {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		width: 100%;
	}

	.online-control .input-wrapper:not(:first-child) {
		margin-top: 63px;
	}
	
	.online-control .input {
		background: transparent;
	}

	.online-control .input::placeholder {
		color: #FFF;
	}

	.online-control form .checkbox-label {
		display: none;
	}

	.online-control form .mobile-checkbox-label {
		display: block;
		order: 3;
	}

	.online-control form .button {
		order: 4;
		position: relative;
		top: calc(51px / 2);
	}
	/* /online-control */

	/* types-of-repair */
	.types-of-repair .types-of-repair__list {
		grid-template-columns: 1fr;
		padding: 0 18px;
	}

	.types-of-repair .types-of-repair__item {
		margin: 0 18px;
		margin-bottom: calc(59px - calc(50px / 2));
		margin-top: 0;
	}

	.types-of-repair .types-of-repair__description {
		width: calc(270px - calc(330px - 270px));
	}

	.types-of-repair .types-of-repair__description,
	.types-of-repair .button-card {
		margin-left: 0;
	}

	.types-of-repair .types-of-repair__image img {
		width: calc(calc(392px - calc(18px * 4)) + 10px);
	}

	.types-of-repair__request {
		display: none;
	}

	.types-of-repair .overlay {
		display: none;
	}
	/* /types-of-repair */

	/* we-realize */
	.we-realize {
		background: unset;
		margin-top: 55px;
	}

	.we-realize .container,
	.we-realize .mobile-title {
		display: block;
	}

	.we-realize .container {
		max-width: 768px;
	}

	.we-realize .mobile-title {
		margin: 0;
		text-align: center;
		margin: 0 auto;
	}

	.we-realize .overlay,
	.we-realize .container > .column:first-of-type {
		display: none;
	}
	
	.we-realize .we-realize__slider {
		z-index: 2;
		position: relative;
		margin-bottom: -28%;
	}

	.we-realize .we-realize__mobile-slider-controls {
		width: 100%;
	}

	.we-realize .we-realize__images {
		display: block;
	}

	.we-realize .we-realize__images img {
		/* max-width: 340px; */
		/* max-height: 453px; */
		width: 100%;
		height: 100%;
		object-fit: cover;
		aspect-ratio: 16 / 9;
	}

	.we-realize .we-realize__images img:not(.active) {
		display: none;
	}

	.we-realize .we-realize__images .column {
		display: block;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	/* /we-realize */

	/* our-clients */
	.our-clients {
		display: none;
	}
	/* /our-clients */

	/* have-any-questions */
	.have-any-questions {
		padding: 0;
	}

	.have-any-questions .container {
		margin-top: calc(-196px / 2);
		position: relative;
		z-index: 1;
	}

	.have-any-questions .overlay,
	.have-any-questions .top-overlay {
		display: none;
	}
	
	.have-any-questions__request-form {
		max-width: unset;
		margin-top: calc(28% + 23px);
	}

	.have-any-questions__request-form form {
		padding: 0;
	}

	.have-any-questions__request-form form .row {
		display: block;
	}

	.have-any-questions__request-form form .input-wrapper {
		margin-top: 63px;
	}

	.have-any-questions__request-form form .input-wrapper:first-child {
		margin-top: 52px;
	}

	.have-any-questions__request-form form .button {
		width: 100%;
		margin-top: 67.33px;
		min-height: 51px;
	}

	.have-any-questions__mobile-flex-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.have-any-questions .social-address {
		order: 2;
	}
	
	.have-any-questions .have-any-questions__map {
		order: 1;
	}
	
	.have-any-questions .have-any-questions__map img {
		width: calc(100% - calc(18px * 2));
		max-width: 925px;
	}

	.have-any-questions__social-icons {
		display: flex;
		justify-content: center;
		gap: 20.89px;
		margin-bottom: 49px;
	}
	/* /have-any-questions */

	/* footer */
	.footer {
		display: none;
	}
	/* /footer */
}
